@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
    --clr-main: #15173c;
    --clr-footer: #404263;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* RESET */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
}

aside {
    padding: 3.5rem 0rem 1rem 1.5rem;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    margin: 1.5rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 2rem;
    background-color: var(--clr-white);
}


/* DENTRO DE ASIDE */


.logo {
    font-weight:400;
    font-size: 1.5rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bi-hand-index-fill,
.bi-hand-index {
    transform:rotateZ(90deg);
}

.boton-menu {
    border: 0;
    background-color: transparent;
    color: var(--clr-white);
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    gap: .5rem;
    padding: 1rem;
    align-items: center;
}

.boton-menu.active{
    background-color: var(--clr-white);
    color: var(--clr-main);
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content:'';
    position: absolute;
    border-bottom-right-radius: 1rem;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: var(--clr-main);
    box-shadow: 0 1rem 0 var(--clr-white);   
}

.boton-menu.active::after {
    content:'';
    position: absolute;
    border-top-right-radius: 1rem;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: var(--clr-main);
    box-shadow: 0 -1rem 0 var(--clr-white);   
}

.boton-carrito {
    margin-top: 2rem;
}

.numerito {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.boton-carrito.active.numerito {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.texto-footer {
    color: var(--clr-footer);
    font-size: 1rem;
}





/* DENTRO DE MAIN */


.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    background-color: rgb(255 16 16 / 30%);
    border-radius: 1rem;
}

.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-agregar {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 5rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .4s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

/* CARRITO */

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: var(--clr-main);
    display: none;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: red;
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    font-size: 1rem;
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-R {
    display: flex;
}

.carrito-acciones-total {
    font-size: 1rem;
    gap: 1rem;
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
}

.carrito-acciones-eliminar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-comprar {
    color: var(--clr-white);
    font-size: 1rem;
    padding: 1rem;
    background-color: var(--clr-main);
    border: none;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* EXTRAS */

.disabled {

}